
img
{
  float:left;
   width:220px;
   height:240px;
   border-radius:30%;

}
th{
  text-align:left;
}
table,th,td {
     border-collapse: collapse;
     padding:5px;
   }
h1#he1
{
  text-align:center;
  font-size: 50px;
  font-family: "Modern No. 20";
  padding:15px;
  background-color: lightGrey;
  margin-block-start:0;
    margin-block-end:0;
}

.r1 {
      border:1px solid black;
      border-collapse:collapse;

    }
    td.r1:hover
    {background-color: Grey;}
    .r2{
      width:33%;
      }
  img{
    border-radius:50%;
  }
div.r5{

  height:80px;
  background-color:lightGrey;
  padding-top:5px;
text-align:center;
}
h3
{
  color: DarkSlateGrey  ;
  font-family: "Modern No. 20";
}
table#t01 tr:nth-child(even) {
  border-collapse: collapse;
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
  border-collapse: collapse;
 background-color: #fff;
}
table#t01 th {
  background-color: black;
  color: white;
}
div.r3
{
  background-color:lightGrey;
  height:70px;
}
div.r4
{
  background-color:lightGrey;
height:140px;
}
div.r6
{
    background-color:lightGrey;
}
div.r7{
  background-color: lightGrey;
  padding: 20px;
}
div.d1
{
    background-color: MistyRose ;
    padding: 20px;
    font-size: 20px;
}
img#i1
{
  height:80px;
  width:100px;
}
td#t1
{
  padding-left: 1020px;
}
#div1
{
  background-color: black;
  height:150px;
  margin-top: 20px;
}
#btn1
{
  margin-right: 15px;
  margin-left: 670px;
  margin-top: 50px;
  background-color:red;
border: none;
color: white;
opacity: 0.6;
transition: 0.3s;
cursor: pointer;
  padding: 16px 32px;
  text-align: center;
 font-size: 16px;
}
#btn1:hover
{opacity: 1}
